{% extends 'base_layout.html' %}
{% block content %}
    <h1>Articles</h1>
    
    <!-- Filter buttons -->
    <button class="filter-btn" data-filter="all">All</button>
    <button class="filter-btn" data-filter="approved">Approved</button>
    <button class="filter-btn" data-filter="not-approved">Not Approved</button>
    
    <div id="article-container">
        {% for article in articles %}
            <a href="{% url 'articles:detail' slug=article.slug %}" class="article-link">
                <div class="article-cell {% if article.approved %}approved{% else %}not-approved{% endif %}">
                    <h2>{{ article.title }}</h2>
                    <p>by {{ article.author }}</p>
                    <p>{{ article.date }}</p>
                </div>
            </a>
            <br>
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const filterBtns = document.querySelectorAll('.filter-btn');
    const articles = document.querySelectorAll('.article-cell');

    filterBtns.forEach(btn => {
        btn.addEventListener('click', function() {
            // Remove 'active' class from all filter buttons
            filterBtns.forEach(button => {
                button.classList.remove('active');
            });

            // Add 'active' class to the clicked filter button
            this.classList.add('active');

            const filter = this.dataset.filter;
            articles.forEach(article => {
                article.style.display = 'block';
                if (filter === 'approved' && !article.classList.contains('approved')) {
                    article.style.display = 'none';
                }
                if (filter === 'not-approved' && !article.classList.contains('not-approved')) {
                    article.style.display = 'none';
                }
            });
        });
    });
});

    </script>
{% endblock %}
