{% extends 'base_layout.html' %}

{% block content %} 
<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url }}"  alt="{{ article.title }}">
        <h2 class="titlehead">{{ article.title }}</h2>

        <p>{% if article.approved %}
            <p class="astatus">✅ Approved</p>
        {% else %}
            <p class="astatus">This paper is not approved yet.</p>
        {% endif %}
        <div class="info-container">
            <div class="info-box">
                <p class="dets">{{ article.author }}</p>
                <!-- email of user with clickable mailto link -->
                <p class="dets" ><a href="mailto:{{ article.email }}" class="email">{{ article.email }}</a></p>
            </div>
            <div class="info-box">
                <p class="dets">{{ article.organization }}</p>
                <p class="dets">{{ article.date }}</p>
            </div>
        </div>

        <p>{{ article.body }}</p>
        <br>

        <p><a href="{{ article.pdf.url }}" class="download">Download Paper</a></p>
    </div>
</div>
{% endblock %}
