{% extends 'base_layout.html' %}

{% block content %} 
<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url }}" style="width:100px;height:100px;" alt="{{ article.title }}">
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
        <p>{{ article.author }}</p>

        <p>{% if article.approved %}
            <p style="color:#000; background-color:chartreuse;">This article is APPROVED!</p>
        {% else %}
            <p  style="color:#000; background-color:white;">This article is NOT approved.</p>
        {% endif %}
        </p>
        
        </div>
</div>
{% endblock %}